:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: flex-start;
  background-color: #fff;
  height: calc(100vh - 48px);
  overflow: hidden; /* Para evitar o overflow */
}

img {
  width: 100%;
  max-width: 320px;
  height: auto;
  max-height: 320px;
  object-fit: cover;
}

.sensores {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 20px;
  padding: 16px;
  background-color: #F8F8F8;
  width: 100%;
}

.sensor {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border: #F0F0F0 1px solid;

  .nome {
    padding: 16px 24px;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    border-bottom: #F0F0F0 1px solid;
  }

  .valor {
    padding: 24px;
    font-size: 24px;
    color: #333;
  }
}
