:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;
  height: 100%;
  gap: 1rem;
  background-color: #f8f8f8;
  color: #444;
}

:host > h4,
:host > button,
.edificacoes {
  width: 100%;
}

.edificacoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.edificacao {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #f0f0f0;
  width: 100%;
  cursor: pointer;
}

.edificacao.ativa {
  background-color: #d8f1fb;
  border-color: #18466d;
}
